asgiref==3.11.0
Django==6.0.1
-e ./src/django-polls
django5-scheduler==1.0.2
icalendar==6.3.2
psycopg2-binary==2.9.11
python-dateutil==2.9.0.post0
pytz==2025.2
schedule==1.2.2
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
