version: '3.8'

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: appdb

  app:
    image: mcr.microsoft.com/devcontainers/python:3.11-bookworm
    volumes:
      - ./djangotutorial:/workspaces/Code/djangotutorial:cached
    depends_on:
      - db
    command: sleep infinity