{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    </head>
    <body>

        <div class="container">
            <nav class="sidebar">
                <h2>Blog</h2>
                
                <form action="{% url 'blog:search' %}" method="get">
                    <input class="search" type="text" name="q" placeholder="Search Blogs">
                </form>

                <div class="nav-links">
                    <a href="{% url 'blog:index' %}">Home</a>
                    <a href="{% url 'blog:propose_edit' %}">Propose New Entry</a>
                    <a href="{% url 'blog:random_page' %}">Random Page</a>
                    
                    {% block nav %}
                    {% endblock %}
                </div>
            </nav>

            <main class="main-content">
                {% block body %}
                {% endblock %}
            </main>
        </div>

    </body>
</html>