{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                {% if listing.image_url %}
                    <img src="{{ listing.image_url }}" class="img-fluid rounded" alt="{{ listing.title }}">
                {% else %}
                    <div class="bg-light d-flex align-items-center justify-content-center" style="height: 300px;">
                        <p class="text-muted">No Image Provided</p>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-6">
                <h2>{{ listing.title }}</h2>
                
                {% if user.is_authenticated %}
                    <form action="{% url 'auctions:toggle_watchlist' listing.id %}" method="post" class="mb-3">
                    {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm">
                        {% if listing in request.user.watchlist.all %}
                         Remove from Watchlist
                        {% else %}
                        Add to Watchlist
                        {% endif %}
                    </button>
                    </form>
                {% endif %}
                <hr>
                <p class="lead">{{ listing.description }}</p>

                <p class="text-muted mb-0">Starting Price: ${{ listing.starting_bid }}</p>
                <h3 class="text-success">Current Price: ${{ listing.current_price }}</h3>

                <div class="mt-4">
                    <h5>Place a Bid</h5>
                    {% if user.is_authenticated %}
                       <form action="{% url 'auctions:listing_page' listing.id %}" method="post">
                    {% csrf_token %}
                     <div class="input-group mb-3">
                        {{ bid_form.amount }}
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">Place Bid</button>
                    </div>
                </div>
                    </form>
                    {% else %}
                        <p><a href="{% url 'auctions:login' %}">Log in</a> to place a bid.</p>
                    {% endif %}
                </div>

                <div class="mt-4">
                    <h6>Details:</h6>
                    <ul>
                        <li>Listed by: <strong>{{ listing.owner.username }}</strong></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
{% endblock %}