{% extends "flights/layout.html" %}

{% block content %}
    <h1>Flight List</h1>
    <ul>
        {% for flight in flights %}
            <li>
                <a href="{% url 'flights:flight_detail' flight.id %}">
                    Flight {{ flight.id }}:
                    {{ flight.origin }} to {{ flight.destination }}
                    ({{ flight.duration }} mins)
                </a>
            </li>
        {% empty %}
            <li>No flights available.</li>
        {% endfor %}
    </ul>

    <h2>Airport List</h2>
    <ul>
        {% for airport in airports %}
            <li>
                    Airport: {{ airport.code }} - {{ airport.city }}
                </a>
            </li>
        {% empty %}
            <li>No airports available.</li>
        {% endfor %}
    </ul>
{% endblock %}
