{% extends "users/layout.html" %}
{% block content %}

<h1>Login</h1>

<form method="post" action="{% url 'users:login' %}" autocomplete="off">
  {% csrf_token %}

  <label for="username">Username:</label>
  <input
    type="text"
    id="username"
    name="username"
    autocomplete="username"
    autocapitalize="none"
    spellcheck="false"
    required
  >
  <br>

  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    autocomplete="current-password"
    required
  >
  <br>

  <button type="submit">Login</button>
</form>


<p>
  {% url 'users:register' as register_url %}
  <a href="{{ register_url }}">Sign up</a>
</p>


<p>
  {% url 'users:password_reset' as password_reset_url %}
  <a href="{{ password_reset_url }}">Forgot your password?</a>
</p>


{% endblock %}